@charset "UTF-8";

table.type02 {
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	line-height: 1.0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin: 20px 10px;
}

table.type02 td {
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.type03 {
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	line-height: 1.5;
	border-top: 0px solid #ccc;
	border-left: 0px solid #ccc;
	margin: 20px 10px;
}

table.type03 td {
	width: 0px;
	padding: 0px;
	vertical-align: top;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #ccc;
}

.btnstyle {
	width: 80px;
	height: 30px;
}