<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.connection.password">2422</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		
		<!-- C3PO 연결 풀 공급자를 사용 --> 
		<property name="hibernate.c3p0.min_size">5</property>	<!-- 최소 JDBC연결수 -->
		<property name="hibernate.c3p0.max_size">20</property>  <!-- 최대연결수 -->
		<property name="hibernate.c3p0.timeout">300</property>  <!-- 시간제한주기 -->
		<property name="hibernate.c3p0.max_statements">50</property>  <!-- 캐시문장 -->
		<property name="hibernate.c3p0.idle_test_period">3000</property> <!-- 연결 자동 검증하기전 유휴시간 -->
		
		<!-- SQL을 보기 좋은 형태로 출력 -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">Validate</property>   <!-- SessionFactory가 생성될 때 스키마 자동생성 -->
		
		<!-- XML 매핑 파일 목록 -->
		<mapping resource= "com/tistory/pentode/vo/BoardVO.hbm.xml" />

	</session-factory>
</hibernate-configuration>
